.bar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 15px 15px 0 0;

  &__title{
    font-size: 16px;
    font-weight: 700;
    color: #272b41;
    padding: 10px;
  }

  &__button {
    padding: 5px 15px 5px 0;

    .icon-add-bar-user {
      font-size: 24px;
      background-color: var(--primary);
      padding: 10px;
      border-radius: 15px;

      &:hover {
        path {
          color: white;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}