.sider-app {
  .ant-layout-sider-children {
    background-color: white;
  }
}

.menu-sider {
  margin-top: -5px !important;

   .ant-menu-item-selected  {
    background-color: rgb(220, 252, 221) !important;
    
    .ant-menu-title-content {
      a{
        color: #00be00 !important;
      }
    }
   } 
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after { 
  border-right: 3px solid #00be00 !important;
}
