.create-user {
    background: white;
    border-radius: 15px 15px 0 0;
    padding: 25px 10px;
    margin-top: 10px;

    &__title {
        border-bottom: 1px solid var(--borderPrimary);
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
    }

    &__box {
        padding-top: 20px;
        .ant-form-item {
            margin-bottom: 10px;

            .ant-picker {
                width: 100%;
            }

            label {
                font-weight: 600;
            }
        }
    }
}