

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px !important;
  line-height: 1,5 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--textColor);
}

:root {
  --primary:#00be00;
  --textColor: #272b41;
  --borderPrimary: #f1f2f6
}


.container{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding-right:15px;
  padding-left:15px;
  background:none !important;
}

.bg-none {
  background:none !important;
}

.bg-white {
  background-color: white;

}

.btn {
  border: none;

  &--create {
    border: none !important;
    background-color: var(--primary) !important;
    
      span {
        font-weight: 600;
        color: white;
      }
  }
}

.ant-input {
  &:focus {
    
  }
}

.ant-spin-dot-item {
  background-color: #00be00 !important; 
}
