.icon {
    &--default {
        font-size: 18px;
        svg {
            display: flex;
            path {
                color: white;
            }
        }
       
    }
    &--header {
        font-size: 18px;
        font-weight: 700;
    }

    &--action {
        font-size: 16px;
        &:hover {
           path {
            color: var(--primary);
            cursor: pointer;
            font-weight: bolder;
           }
        }
    }

}