.icon {
    &--header {
        font-size: 18px;
        font-weight: 700;
    }

    &--action {
        font-size: 16px;
        &:hover {
            color: var(--primary);
            cursor: pointer;
            font-weight: bolder;
        }
    }
}